.ruby, .react, .java {
  display: none;
}

.container {
  width: 350px;
  background-color: #F4D03F;
  border-radius: 5%;
}

button {
  margin: 25px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
